<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Profile</title>
</head>

<body>
  <div class="w-full min-h-screen text-white p-10 bg-zinc-900">
    <div class="flex w-full justify-between items-center">
      <div class="flex gap-5 items-center w-full ">
        <div class="flex flex-col items-center justify-center gap-2">

          <div class="h-16 w-16 rounded-full overflow-hidden ">
            <img class="w-full h-full object-cover" src="images/uploads/<%=user.profilepic%>" alt="">
          </div>
          <a class="text-blue-500 text-sm" href="/profile/upload"><%= user.profilepic == "default.jpg" ? "Upload" : "Change" %></a>
        </div>
        <h3 class="text-xl ">Hello <%= user.name%>
      </div>
      </h3>
      <a href="/logout" class="text-white">Logout</a>
    </div>
    <h1 class="text-center">You can create a new post</h1>
    <form action="/post" method="post" class="flex flex-col items-center">
      <textarea class="resize-none bg-transparent p-3 border-2 border-zinc-600 w-full md:w-1/2 block rounded-md mt-5 outline-none"
        placeholder="what's is in you mind" name="content" id=""></textarea>
      <input class="bg-blue-500 cursor-pointer mt-5 p-2 rounded w-full md:w-auto" type="submit" value="Create new post">
    </form>

    <div class="mt-10">
      <h2 class="text-center">Your Posts</h2>
      <div class="flex flex-wrap gap-5 overflow-auto p-5">
        <% user.posts.forEach((post)=>{ %>
          <div class="border-2 mt-4 shrink-0 border-zinc-600 rounded w-full md:w-1/3 p-5">
            <h1 class="text-yellow-300 mb-4"><%= user.username%></h1>
            <p><%= post.content %></p>
            <small class="mt-4 inline-block"><%=post.likes.length%> likes</small>
            <div class="mt-4 flex gap-3 justify-center">
              <a class="text-blue-500" href="/like/<%= post._id %>"> <%= post.likes.indexOf(user._id)== -1? "Like" : "Unlike"%></a>
              <a class="text-zinc-400" href="/edit/<%= post._id %>">edit</a>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</body>

</html>